<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Focused Blog</title>
  </head>
  <body>
    <div>
      <h2><%= blog.naslov %></h2>
      <h2><%= blog.tekst %></h2>
      <div>
        <p>Ocenka: <%= blog.ocenka %></p>
      </div>
      <p>Avtor: <%= blog.avtor %></p>
      <p>Created on <%= blog.vreme.toDateString() %></p>
      <form method="POST" action="/blogs/delete/<%= blog._id %>">
        <button type="submit">Delete</button>
      </form>
    </div>
    <!-- da imame forma so koja forma kje updejtirame nekakov post -->
    <form method="POST" action="/blogs/<%= blog._id %>">
      <input type="text" name="naslov" value="<%= blog.naslov %>" />
      <input type="text" name="tekst" value="<%= blog.tekst %>" />
      <input type="number" name="ocenka" value="<%= blog.ocenka %>" />
      <input type="text" name="avtor" value="<%= blog.avtor %>" />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
